*{
    margin: 0;
    padding: 0;
    font-family: Inter;
    font-size: 20px;
    box-sizing: border-box;
}
body{
    padding:0px;
}
header{
    height: 80px;
}
.hero{

background: #000000B2;
width: 1920px;
height: 700px;
}
.hero-title{
    width: 856px;
    height: 183px;
opacity: 0px;
font-family: Inter;
font-size: 50px;
font-weight: 700;
text-align: center;
font-family: Inter;
font-size: 50px;
font-weight: 700;
text-align: center;
margin: auto;
}
.hero-p{
width: 856px;
height: 48px;
opacity: 0px;
font-family: Inter;
font-size: 20px;
font-weight: 500;
text-align: center;
margin: auto;
}
input, textarea,button{
    margin: 4px 0;
    padding: 8px;
}
span{
    font-family: Inter;
    font-size: 40px;
    text-align: center;
}
.title{
    font-family: Inter;
    font-size: 50px;
    font-weight: 700;
    text-align: center;
    font-family: Inter;
    font-size: 50px;
    font-weight: 700;
    text-align: center;
    margin: auto;

}
.button{
width: 150px;
text-align: center;
align-items: center;
justify-content:center ;
height: 45px;
border-radius: 5px;
color: #FFFFFF;
background: #23AA4B;   
}
.text-color{
    color: #23AA4B;
}

.from{
width: 400px;
height: 40px;
border-radius: 5px 5px 5px 5px;
border: 1px 1px 1px 1px;
opacity: 0px;

}
.from-2{
width: 400px;
height: 60px;
border-radius: 5px 0px 0px 0px;
border: 1px 0px 0px 0px;
opacity: 0px;

}